/* 主要 */
.main{
    width: 80%;
    margin: 0 auto; 
}
/* 盒子.圖片.標題.內文與按鈕 */
.box{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px 10px;
    margin: 98px 0;   
}
.box .picture img{
    width: 100%;
}
.box .picture img[src="dog1.jpg"]{
    box-shadow: 0 5px 12px rgba(0,0,0,0.2);
    border: 18px solid white;
    width: 60%;
    transform: rotate(15deg); 
}
/* 標題 */
.title {
    text-align: center;
}

/* 價格 */
.priceBox {
    display: grid;
    grid-template-columns: auto auto auto;
}
.priceBox h2 {
    margin: 30px;
} 
.priceBox h3 {
    margin: 20px;
}
.priceBox h3 span:nth-child(n+2) {
    font-size: 20px;
}
.priceBox ul li {
    margin: 10px 0;
}
.priceBox a {

    margin: 10px 0;
}
.priceBox div {
    background-color:rgb(150,50,50);
    color: white;
    text-align: center;
    padding: 50px 30px;
}
.priceBox div ul {
list-style-image:url(check.png);
list-style-position:inside;
text-align:left;
}

.priceBox .rpimium {
    background-color: #333;
}
.priceBox a {
background-color: #333;
}
.priceBox .rpimium a {
    background-color: rgb(150,50,50);
}
.priceBox .basic ul li:nth-child(n+3), .priceBox .premium ul li:nth-child(n+5) {
    text-decoration: line-through;
    color: #999;
}

/*調整文字大小 */
body {
    font-size: 24px;   
}
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1.1em;
}
p {
    font-size: 0.7em;
    padding: 30px 0;
    color: #999;
}
a {
    font-size: 0.8em;
}
ff
/* 按鈕 */
.button{
    display: inline-block;
    background-color: indianred;
    width: 130px; 
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-repeat: 60px;
    color: white;
    text-decoration: none;
}
.button:hover{
    background-color: #333;
}
/* 手機 */
@media screen and (max-width:767px) {
.box {
    grid-template-columns: 100%;
    text-align: center;
} 
.box .picture img[src="dog1.jpg"]{
    margin-top: 50px;  
    }
.box .picture {
    margin-top: 30px;
}

}
/* 平板 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .box {
        grid-template-columns: 100%;
        text-align: center;  
    }
    .box .picture img[src="dog1.jpg"]{
        margin-top: 100px;  
        }
    .box .picture {
        margin-top: 50px;
    }    
    }
/* 桌機 */
@media screen and (max-width:767px) {

}
