link(rel="stylesheet", href="nav.css")
.nav
    span.logo #[span.bold Dog]Life#[span.red .]
    ul
        li #[a(href="#" class="red") 首頁]
        li #[a(href="#" class="red") 關於]
        li #[a(href="#" class="red") 價格]
        li #[a(href="#" class="red") 聯絡]